@tailwind base;
@tailwind components;
@tailwind utilities;
.glassmorphism{
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.glassmorphism2{
    background: rgba(16, 16, 16, 0.3) ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border: 1px solid rgba(255, 255, 255, 0.2);
}